.calc {
}


thead>tr>.ant-table-cell {
  background-color: #fff !important;
  color: #8b8b8b !important;
  font-size: 12px;
  border-color: #9d9d9d !important;
}

tbody>tr>.ant-table-cell {
    font-weight: bold;
    font-size: 12px;
    border-color: #DFDFDF;
}
